<div class="l-sidenav shadow-md shadow-gray-400">
  <ul class="inline-block md:w-40 lg:w-52">
    <li routerLinkActive="l-active" class="l-tags">
      <a routerLink="/catagory">Catagory</a>
    </li>
    <li routerLinkActive="l-active" class="l-tags">
      <a routerLink="/type">Catagory Type</a>
    </li>
    <li routerLinkActive="l-active" class="l-tags">
      <a routerLink="/brand">Catagory Brand</a>
    </li>
    <li routerLinkActive="l-active" class="l-tags">
      <a routerLink="/brand-type">Brand Type</a>
    </li>
    <li routerLinkActive="l-active" class="l-tags">
      <a routerLink="/product">Product</a>
    </li>
    <li routerLinkActive="l-active" class="l-tags">
      <a>Product List</a>
    </li>
  </ul>
</div>
