<div class="l-div shadow-lg">
  <ul
    class="flex lg:text-2xl md:text-xl justify-center mb-5 mt-5 text-gray-500"
  >
    <li class="py-4 px-1">
      <a class="px-4 l-hover" routerLinkActive="l-active" routerLink="/billing"
        >Billing</a
      >
    </li>
    <li class="py-4 px-1">
      <a
        class="px-4 l-hover"
        routerLinkActive="l-active"
        routerLink="/manageproducts"
        >Manage Products</a
      >
    </li>
    <li class="py-4 px-1">
      <a class="px-4 l-hover" routerLinkActive="l-active" routerLink="/admin"
        >Admin</a
      >
    </li>
    <li class="py-4 px-1">
      <a
        class="px-4 l-hover"
        routerLinkActive="l-active"
        routerLink="/accounting"
      >
        Accounting</a
      >
    </li>
  </ul>
</div>
